In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

from sqlalchemy import *
from sqlalchemy_utils import database_exists, create_database
import psycopg2

%matplotlib inline
plt.rcParams['figure.figsize'] = (5.0, 5.0)
plt.rcParams['figure.facecolor'] = 'white'

19,307,026 submissions

5,326,298 contest submissions

In [2]:
dbname = 'codeforces'
username = 'Joy'
con = psycopg2.connect(database = dbname, user = username)
cur = con.cursor()

In [5]:
cur.execute("select relname from pg_class where relkind='r' and relname !~ '^(pg_|sql_)';")
print cur.fetchall()

[('handles',), ('problem_info',), ('submissions',), ('contests',), ('hacks',), ('user_rating',), ('problem_rating',), ('tags',)]

In [20]:
cur.execute("select * from handles")
handles = [c[0] for c in cur.fetchall()]

In [95]:
query = "select * from submissions limit 10"
pd.read_sql_query(query, con)

,handle,id,language,memoryBytes,participanttype,passedtestcount,points,relativetimeseconds,starttimeseconds,timemilliseconds,testset,verdict,contestid,problemid,problemrating
0,tourist,27036616,GNU C++11,19763200,CONTESTANT,33,3500,7077,1494523977,1294,TESTS,OK,799,G,None
1,tourist,27035049,GNU C++11,19763200,CONTESTANT,14,3500,6853,1494523753,2808,PRETESTS,SKIPPED,799,G,None
2,tourist,27030563,GNU C++11,30208000,CONTESTANT,47,3250,4891,1494521791,483,TESTS,OK,799,F,None
3,tourist,27029223,GNU C++11,13004800,CONTESTANT,2,3250,4346,1494521246,0,PRETESTS,WRONG_ANSWER,799,F,None
4,tourist,27023350,GNU C++11,13107200,CONTESTANT,16,2500,2511,1494519411,78,TESTS,WRONG_ANSWER,799,E,None
5,tourist,27022631,GNU C++11,4915200,CONTESTANT,103,2000,2240,1494519140,15,TESTS,OK,799,D,None
6,tourist,27021179,GNU C++11,9932800,CONTESTANT,4,2500,1719,1494518619,2000,PRETESTS,TIME_LIMIT_EXCEEDED,799,E,None
7,tourist,27019416,GNU C++11,28979200,CONTESTANT,39,1000,1145,1494518045,389,TESTS,OK,799,B,None
8,tourist,27018858,GNU C++11,17920000,CONTESTANT,79,1500,979,1494517879,62,TESTS,OK,799,C,None
9,tourist,27018375,GNU C++11,0,CONTESTANT,93,500,834,1494517734,15,TESTS,OK,799,A,None

In [57]:
query = """
SELECT * FROM submissions WHERE "participantType"='CONTESTANT'
"""
cur.execute(query)
#pd.read_sql_query(query, con)

In [54]:
cur.rowcount

5326298

# rename and re-type columns
postgreSQL changes all queries to lower case unless in double quotes
some columns were defined as strings but somehow became integers

In [94]:
query = """
ALTER TABLE submissions RENAME COLUMN "participantType" TO participanttype;
ALTER TABLE submissions RENAME COLUMN "passedTestCount" TO passedtestcount;
ALTER TABLE submissions RENAME COLUMN "relativeTimeSeconds" TO relativetimeseconds;
ALTER TABLE submissions RENAME COLUMN "startTimeSeconds" TO starttimeseconds;
ALTER TABLE submissions RENAME COLUMN "timeMilliseconds" TO timemilliseconds;
ALTER TABLE submissions RENAME COLUMN "contestID" TO contestid;
ALTER TABLE submissions RENAME COLUMN "problemID" TO problemid;
ALTER TABLE submissions RENAME COLUMN "problemRating" TO problemrating;
"""
cur.execute(query)
con.commit()

In [127]:
query = """
ALTER TABLE submissions DROP COLUMN IF EXISTS problemrating
"""
cur.execute(query)
con.commit()

In [97]:
query = """
ALTER TABLE problem_rating RENAME COLUMN "contestID" TO contestid;
ALTER TABLE problem_rating RENAME COLUMN "problemID" TO problemid;
ALTER TABLE problem_rating RENAME COLUMN "problemRating" TO problemrating;
"""
cur.execute(query)
con.commit()

In [36]:
query = """
ALTER TABLE problem_rating ALTER COLUMN contestid TYPE text;
ALTER TABLE problem_info ALTER COLUMN contestid TYPE text;
"""
cur.execute(query)
con.commit()

In [3]:
query = """
ALTER TABLE tags ALTER COLUMN contestid TYPE text;
ALTER TABLE tags ALTER COLUMN problemid TYPE text;
"""
cur.execute(query)
con.commit()

In [13]:
query = """
ALTER TABLE contests RENAME COLUMN "durationSeconds" TO durationseconds;
ALTER TABLE contests RENAME COLUMN "relativeTimeSeconds" TO relativetimeseconds;
ALTER TABLE contests RENAME COLUMN "startTimeSeconds" TO starttimeseconds;
ALTER TABLE hacks RENAME COLUMN "creationTimeSeconds" TO creationtimeseconds;
ALTER TABLE hacks RENAME COLUMN "contestID" TO contestid;
ALTER TABLE hacks RENAME COLUMN "problemID" TO problemid;
ALTER TABLE hacks RENAME COLUMN "problemName" TO problemname;
"""
cur.execute(query)
con.commit()

In [20]:
con.rollback()
query="ALTER TABLE contests RENAME COLUMN id TO contestid;"
cur.execute(query)
con.commit()

In [21]:
con.rollback()
query="ALTER TABLE hacks RENAME COLUMN id TO hackid;"
cur.execute(query)
con.commit()

In [22]:
con.rollback()
query="ALTER TABLE submissions RENAME COLUMN id TO submissionid;"
cur.execute(query)
con.commit()

In [109]:
con.rollback()

# Remove duplicate rows
Some tables (submissions) have duplicated rows, need to remove this to set a primary key

More on ctids here: https://www.postgresql.org/docs/8.2/static/ddl-system-columns.html

**ctid**
The physical location of the row version within its table. Note that although the ctid can be used to locate the row version very quickly, a row's ctid will change each time it is updated or moved by VACUUM FULL. Therefore ctid is useless as a long-term row identifier. The OID, or even better a user-defined serial number, should be used to identify logical rows.

In [12]:
con.rollback()
query = """
DELETE FROM submissions a USING (
      SELECT MIN(ctid) as ctid, submissionid
        FROM submissions 
        GROUP BY submissionid HAVING COUNT(*) > 1
      ) b
      WHERE a.submissionid = b.submissionid 
      AND a.ctid <> b.ctid
"""
cur.execute(query)
con.commit()

In [13]:
#	contestid	contestname	handle	newrating	oldrating	rank	ratingupdatetimeseconds
#0	785	Codeforces Round #404 (Div. 2)	tasneemria	1352	1327	1928	1489598100
#1	785	Codeforces Round #404 (Div. 2)	tasneemria	1352	1327	1928	1489598100
query = """
DELETE FROM user_rating a USING (
      SELECT MIN(ctid) as ctid, contestid, handle, ratingupdatetimeseconds
        FROM user_rating
        GROUP BY (contestid, handle, ratingupdatetimeseconds) HAVING COUNT(*) > 1
      ) b
      WHERE 
          a.contestid = b.contestid AND
          a.handle = b.handle AND
          a.ratingupdatetimeseconds = b.ratingupdatetimeseconds 
      AND a.ctid <> b.ctid
"""
cur.execute(query)
con.commit()

# Adding primary keys
https://www.postgresql.org/docs/9.2/static/ddl-constraints.html

This creates B-trees based on the primary keys

Examples:

http://www.postgresqltutorial.com/postgresql-foreign-key/

Tables:
* handles
* problem_info
* submissions
* contests
* hacks
* user_rating
* problem_rating
* tags

In [ ]:
con.rollback()
query = """
ALTER TABLE handles ADD PRIMARY KEY (handle);
"""
cur.execute(query)
con.commit()

In [16]:
query = """
ALTER TABLE contests ADD PRIMARY KEY (contestid);
ALTER TABLE hacks DROP CONSTRAINT hacks_pkey;
ALTER TABLE hacks ADD PRIMARY KEY (hackid, verdict, defender, hacker, contestid, problemid);
ALTER TABLE problem_info ADD PRIMARY KEY (contestid, problemid, division);
ALTER TABLE problem_rating ADD PRIMARY KEY (contestid, problemid);
ALTER TABLE submissions ADD PRIMARY KEY (handle, contestid, problemid, participanttype, verdict, submissionid, starttimeseconds);
ALTER TABLE tags ADD PRIMARY KEY (contestid, problemid, tag);
ALTER TABLE user_rating ADD PRIMARY KEY (contestid, handle);
"""
cur.execute(query)

ProgrammingError: multiple primary keys for table "contests" are not allowed

In [15]:
con.commit()

In [17]:
con.rollback()
query = """
SELECT * FROM user_rating  WHERE contestid=785 AND handle='tasneemria';
"""
pd.read_sql(query, con)

,contestid,contestname,handle,newrating,oldrating,rank,ratingupdatetimeseconds
0,785,Codeforces Round #404 (Div. 2),tasneemria,1352,1327,1928,1489598100

In [18]:
con.rollback()
query = """
SELECT * FROM submissions WHERE
    handle='zhanyl' AND
    contestid='100186' AND
    problemid='L' AND
    participanttype='VIRTUAL' AND
    verdict='OK' AND
    submissionid=7254239 AND
    starttimeseconds=1406433825
"""
cur.execute(query)
pd.read_sql_query(query, con)
#con.commit()

,handle,submissionid,language,memoryBytes,participanttype,passedtestcount,points,relativetimeseconds,starttimeseconds,timemilliseconds,testset,verdict,contestid,problemid
0,zhanyl,7254239,GNU C++,204800,VIRTUAL,20,0,225,1406433825,60,TESTS,OK,100186,L

# Exploratory analysis

In [33]:
query = """
SELECT * FROM submissions 
    INNER JOIN problem_rating 
        USING
        (
            problemid,
            contestid
        )
     WHERE handle='tourist'
"""
     #order by starttimeseconds, submissions.contestid, submissions.problemid
df_user = pd.read_sql_query(query, con)

In [34]:
query = """
SELECT * FROM user_rating
"""
df_rating = pd.read_sql_query(query, con)

In [35]:
df_rating.head()

,contestid,contestname,handle,newrating,oldrating,rank,ratingupdatetimeseconds
0,168,Codeforces Round #114 (Div. 2),Shoutmon,1209,1255,944,1332867600
1,205,Codeforces Round #129 (Div. 2),Shoutmon,1315,1209,475,1342027800
2,208,Codeforces Round #130 (Div. 2),Shoutmon,1257,1315,1091,1343065200
3,215,Codeforces Round #132 (Div. 2),Shoutmon,1404,1257,388,1344274200
4,216,Codeforces Round #133 (Div. 2),Shoutmon,1532,1404,241,1344965400

In [129]:
df_user

,problemid,contestid,handle,id,language,memoryBytes,participanttype,passedtestcount,points,relativetimeseconds,starttimeseconds,timemilliseconds,testset,verdict,problemrating
0,A,2,tourist,7267,Delphi,307200,CONTESTANT,9,0,473,1267117673,10,TESTS,WRONG_ANSWER,1291
1,A,2,tourist,7331,Delphi,307200,CONTESTANT,20,0,814,1267118014,30,TESTS,OK,1291
2,B,2,tourist,7421,Delphi,16691200,CONTESTANT,30,0,1406,1267118606,5000,TESTS,TIME_LIMIT_EXCEEDED,1621
3,B,2,tourist,7476,Delphi,16691200,CONTESTANT,34,0,1701,1267118901,380,TESTS,WRONG_ANSWER,1621
4,B,2,tourist,7531,Delphi,16691200,CONTESTANT,37,0,2168,1267119368,330,TESTS,OK,1621
5,C,2,tourist,7848,Delphi,409600,CONTESTANT,1,0,5218,1267122418,10,TESTS,WRONG_ANSWER,2019
6,C,2,tourist,7874,Delphi,409600,CONTESTANT,1,0,5436,1267122636,10,TESTS,WRONG_ANSWER,2019
7,C,2,tourist,7913,Delphi,409600,CONTESTANT,9,0,5811,1267123011,30,TESTS,RUNTIME_ERROR,2019
8,C,2,tourist,7962,Delphi,409600,CONTESTANT,9,0,6386,1267123586,10,TESTS,RUNTIME_ERROR,2019
9,C,2,tourist,7983,Delphi,409600,CONTESTANT,9,0,6524,1267123724,10,TESTS,RUNTIME_ERROR,2019
10,C,2,tourist,7994,Delphi,409600,CONTESTANT,9,0,6648,1267123848,30,TESTS,RUNTIME_ERROR,2019
11,C,5,tourist,24745,Delphi,7884800,PRACTICE,43,0,508921,1269609721,160,TESTS,OK,1580
12,A,10,tourist,43119,Delphi,819200,CONTESTANT,30,0,169,1271346469,30,TESTS,OK,1010
13,B,10,tourist,43251,Delphi,6348800,CONTESTANT,40,0,611,1271346911,90,TESTS,OK,1407
14,C,10,tourist,43384,Delphi,819200,CONTESTANT,40,0,912,1271347212,50,TESTS,OK,1653
15,E,10,tourist,44404,Delphi,819200,CONTESTANT,2,0,4170,1271350470,30,TESTS,WRONG_ANSWER,2225
16,E,10,tourist,44542,Delphi,819200,CONTESTANT,4,0,4797,1271351097,30,TESTS,WRONG_ANSWER,2225
17,E,10,tourist,44792,Delphi,819200,CONTESTANT,4,0,5969,1271352269,30,TESTS,WRONG_ANSWER,2225
18,E,10,tourist,44903,Delphi,819200,CONTESTANT,29,0,6471,1271352771,30,TESTS,WRONG_ANSWER,2225
19,E,10,tourist,44982,Delphi,819200,CONTESTANT,22,0,6721,1271353021,30,TESTS,WRONG_ANSWER,2225
20,E,10,tourist,45138,Delphi,819200,CONTESTANT,12,0,7089,1271353389,90,TESTS,WRONG_ANSWER,2225
21,E,10,tourist,45183,Delphi,819200,CONTESTANT,88,0,7168,1271353468,1440,TESTS,WRONG_ANSWER,2225
22,E,10,tourist,45198,Delphi,819200,CONTESTANT,29,0,7188,1271353488,30,TESTS,WRONG_ANSWER,2225
23,E,10,tourist,45212,Delphi,819200,CONTESTANT,29,0,7197,1271353497,30,TESTS,WRONG_ANSWER,2225
24,E,10,tourist,45247,Delphi,819200,PRACTICE,88,0,7580,1271353880,1860,TESTS,WRONG_ANSWER,2225
25,E,10,tourist,45251,Delphi,819200,PRACTICE,88,0,7604,1271353904,1860,TESTS,WRONG_ANSWER,2225
26,E,10,tourist,45266,Delphi,819200,PRACTICE,88,0,7729,1271354029,920,TESTS,RUNTIME_ERROR,2225
27,E,10,tourist,45293,Delphi,819200,PRACTICE,88,0,7944,1271354244,2000,TESTS,TIME_LIMIT_EXCEEDED,2225
28,E,10,tourist,45295,Delphi,819200,PRACTICE,88,0,7967,1271354267,2000,TESTS,TIME_LIMIT_EXCEEDED,2225
29,E,10,tourist,45304,Delphi,819200,PRACTICE,88,0,8000,1271354300,2000,TESTS,TIME_LIMIT_EXCEEDED,2225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,G,776,tourist,24933167,GNU C++11,5734400,CONTESTANT,70,3250,3858,1487864958,358,TESTS,OK,2817
1076,G,776,tourist,24933167,GNU C++11,5734400,CONTESTANT,70,3250,3858,1487864958,358,TESTS,OK,2817
1077,F,776,tourist,24937179,GNU C++11,79257600,CONTESTANT,2,3000,6132,1487867232,31,PRETESTS,WRONG_ANSWER,2752
1078,F,776,tourist,24937179,GNU C++11,79257600,CONTESTANT,2,3000,6132,1487867232,31,PRETESTS,WRONG_ANSWER,2752
1079,F,776,tourist,24937635,GNU C++11,88371200,CONTESTANT,5,3000,6275,1487867375,124,PRETESTS,WRONG_ANSWER,2752
1080,F,776,tourist,24937635,GNU C++11,88371200,CONTESTANT,5,3000,6275,1487867375,124,PRETESTS,WRONG_ANSWER,2752
1081,F,776,tourist,24940601,GNU C++11,99225600,CONTESTANT,66,3000,7389,1487868489,264,TESTS,OK,2752
1082,F,776,tourist,24940601,GNU C++11,99225600,CONTESTANT,66,3000,7389,1487868489,264,TESTS,OK,2752
1083,C,799,tourist,27017541,GNU C++11,16076800,CONTESTANT,3,1500,594,1494517494,0,PRETESTS,WRONG_ANSWER,1786
1084,C,799,tourist,27017541,GNU C++11,16076800,CONTESTANT,3,1500,594,1494517494,0,PRETESTS,WRONG_ANSWER,1786
1085,A,799,tourist,27018375,GNU C++11,0,CONTESTANT,93,500,834,1494517734,15,TESTS,OK,1230
1086,A,799,tourist,27018375,GNU C++11,0,CONTESTANT,93,500,834,1494517734,15,TESTS,OK,1230
1087,C,799,tourist,27018858,GNU C++11,17920000,CONTESTANT,79,1500,979,1494517879,62,TESTS,OK,1786
1088,C,799,tourist,27018858,GNU C++11,17920000,CONTESTANT,79,1500,979,1494517879,62,TESTS,OK,1786
1089,B,799,tourist,27019416,GNU C++11,28979200,CONTESTANT,39,1000,1145,1494518045,389,TESTS,OK,1409
1090,B,799,tourist,27019416,GNU C++11,28979200,CONTESTANT,39,1000,1145,1494518045,389,TESTS,OK,1409
1091,E,799,tourist,27021179,GNU C++11,9932800,CONTESTANT,4,2500,1719,1494518619,2000,PRETESTS,TIME_LIMIT_EXCEEDED,2579
1092,E,799,tourist,27021179,GNU C++11,9932800,CONTESTANT,4,2500,1719,1494518619,2000,PRETESTS,TIME_LIMIT_EXCEEDED,2579
1093,D,799,tourist,27022631,GNU C++11,4915200,CONTESTANT,103,2000,2240,1494519140,15,TESTS,OK,2126
1094,D,799,tourist,27022631,GNU C++11,4915200,CONTESTANT,103,2000,2240,1494519140,15,TESTS,OK,2126
1095,E,799,tourist,27023350,GNU C++11,13107200,CONTESTANT,16,2500,2511,1494519411,78,TESTS,WRONG_ANSWER,2579
1096,E,799,tourist,27023350,GNU C++11,13107200,CONTESTANT,16,2500,2511,1494519411,78,TESTS,WRONG_ANSWER,2579
1097,F,799,tourist,27029223,GNU C++11,13004800,CONTESTANT,2,3250,4346,1494521246,0,PRETESTS,WRONG_ANSWER,3347
1098,F,799,tourist,27029223,GNU C++11,13004800,CONTESTANT,2,3250,4346,1494521246,0,PRETESTS,WRONG_ANSWER,3347
1099,F,799,tourist,27030563,GNU C++11,30208000,CONTESTANT,47,3250,4891,1494521791,483,TESTS,OK,3347
1100,F,799,tourist,27030563,GNU C++11,30208000,CONTESTANT,47,3250,4891,1494521791,483,TESTS,OK,3347
1101,G,799,tourist,27035049,GNU C++11,19763200,CONTESTANT,14,3500,6853,1494523753,2808,PRETESTS,SKIPPED,3642
1102,G,799,tourist,27035049,GNU C++11,19763200,CONTESTANT,14,3500,6853,1494523753,2808,PRETESTS,SKIPPED,3642
1103,G,799,tourist,27036616,GNU C++11,19763200,CONTESTANT,33,3500,7077,1494523977,1294,TESTS,OK,3642
1104,G,799,tourist,27036616,GNU C++11,19763200,CONTESTANT,33,3500,7077,1494523977,1294,TESTS,OK,3642

In [142]:
groups = df_user.groupby(['contestid', 'problemid'])
for k, v in groups:
    print k
    df = v
    break

('1', 'A')

# ideas
Get last 10 solved problems before each contest

**features**
- average time of solves before contest
- mean, var, max # wrong tries on problems
- mean, var of amt time between solves
- mean, var of difference between rating and problem rating
- total # problems solved
- \# problems solved where rating > x
- tags??
- contest vs practice questions


**Knowledge graph**

distribution of accuracy by tags (and problem rating?) by group of users of a certain rating

Can look at difference in this distribution between low and high users


**NLP**

Look at contest posts to see how much users liked a contest

predict problem tags from problem texts --> can apply to other websites
- trivial examples will include things like "tree" --> graph


** null model **
linear regression on difference, assume always the same

In [148]:
df = groups.get_group(('97', 'D'))
df.sort_values('starttimeseconds')

,problemid,contestid,handle,id,language,memoryBytes,participanttype,passedtestcount,points,relativetimeseconds,starttimeseconds,timemilliseconds,testset,verdict,problemrating
237,D,97,tourist,547491,Delphi,3174400,CONTESTANT,71,2000,7175,1310738375,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
238,D,97,tourist,547756,Delphi,3072000,PRACTICE,0,2000,20259,1310751459,10,TESTS,RUNTIME_ERROR,2682
239,D,97,tourist,547758,Delphi,6451200,PRACTICE,53,2000,20290,1310751490,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
240,D,97,tourist,547775,GNU C++,6348800,PRACTICE,53,2000,20578,1310751778,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
241,D,97,tourist,547776,Delphi,3174400,PRACTICE,71,2000,20605,1310751805,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
242,D,97,tourist,547778,Delphi,3174400,PRACTICE,71,2000,20639,1310751839,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
243,D,97,tourist,547780,Delphi,3174400,PRACTICE,70,2000,20666,1310751866,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
244,D,97,tourist,547781,Delphi,3174400,PRACTICE,70,2000,20690,1310751890,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
245,D,97,tourist,547783,Delphi,3174400,PRACTICE,71,2000,20710,1310751910,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
246,D,97,tourist,547787,Delphi,2867200,PRACTICE,70,2000,20795,1310751995,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
247,D,97,tourist,547789,Delphi,2764800,PRACTICE,71,2000,20841,1310752041,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
248,D,97,tourist,547794,Delphi,2764800,PRACTICE,0,2000,20934,1310752134,10,TESTS,WRONG_ANSWER,2682
249,D,97,tourist,547799,Delphi,2764800,PRACTICE,72,2000,21069,1310752269,2670,TESTS,OK,2682
250,D,97,tourist,547840,Delphi,1740800,PRACTICE,8,2000,23027,1310754227,4000,TESTS,TIME_LIMIT_EXCEEDED,2682
251,D,97,tourist,547844,Delphi,1945600,PRACTICE,8,2000,23104,1310754304,4000,TESTS,TIME_LIMIT_EXCEEDED,2682